<%  include partials/header %>
<div class="ui main text container big inverted segment">
    <div class="ui centered big header test">
        <%=blog.title%>
    </div>
    <div class="item">
        <img class="ui centered rounded image" src="<%=blog.image%>">
    
    <div class="content">
        <p><%-blog.body%></p>
    </div>
    <div class="ui centered small date">Created:
        <%=blog.created.toDateString()%>
    </div>
    <a class="ui inverted button green blog" href="/blogs/<%=blog._id%>/edit">EDIT</a>
    <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
        <button class="ui inverted button red">DELETE</button>
    </form>
</div>

<%  include partials/footer %>